# vim: set syntax=sh:
alias sudo='sudo'
alias fucking='sudo'
alias lsa='ls -la'
alias lsh='ls -lah'
alias c='clear'
alias cl='clear && pwd && ls -la'
if [ -x /usr/bin/dircolors ]; then #ls with more color
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
fi
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias git='LANG=us_US git'
alias ggg=gitPushAll
alias sudorc='sudo -E -s'
